<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Page: {{game_name}}</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<style>
body {
	background-image: url("https://wallpapercave.com/wp/DfA8nEe.jpg");
        background-repeat:repeat;
       background-size:cover;
} 

</style>

  </head>
  <body>


    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">InvestiGame</li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><a href="/nopage" class="button">Search</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->

    <br><br>

    <div class="row">
      <div align = 'center' class="large-push-3 large-6">
        <h2 style="color:white">InvestiGame Prediction Engine</h2>
	</div>
	<div align = 'justify'>
        <p style="color:white">Name of the game is:  {{game_name}}</p>
	</div>
	<div align = 'center' class="large-push-3 large-6">

        <label>Size
	   <form action="/preset" method="GET" id="demo_input">
        <select id = 'demo_input', name = 'demo_input'>
          <option value="husker">Small</option>
          <option value="starbuck">Medium</option>
          <option value="hotdog">Large</option>
          <option value="apollo">Yeti</option>

          <option value="husker">Small</option>
          <option value="starbuck">Medium</option>
          <option value="hotdog">Large</option>
          <option value="apollo">Yeti</option>

          <option value="husker">Small</option>
          <option value="starbuck">Medium</option>
          <option value="hotdog">Large</option>
          <option value="apollo">Yeti</option>

          <option value="husker">Small</option>
          <option value="starbuck">Medium</option>
          <option value="hotdog">Large</option>
          <option value="apollo">Yeti</option>

          <option value="husker">Small</option>
          <option value="starbuck">Medium</option>
          <option value="hotdog">Large</option>
          <option value="apollo">Yeti</option>

          <option value="husker">Small</option>
          <option value="starbuck">Medium</option>
          <option value="hotdog">Large</option>
          <option value="apollo">Yeti</option>

          <option value="husker">Small</option>
          <option value="starbuck">Medium</option>
          <option value="hotdog">Large</option>
          <option value="apollo">Yeti</option>

          <option value="husker">Small</option>
          <option value="starbuck">Medium</option>
          <option value="hotdog">Large</option>
          <option value="apollo">Yeti</option>

          <option value="husker">Small</option>
          <option value="starbuck">Medium</option>
          <option value="hotdog">Large</option>
          <option value="apollo">Yeti</option>

          <option value="husker">Small</option>
          <option value="starbuck">Medium</option>
          <option value="hotdog">Large</option>
          <option value="apollo">Yeti</option>

          <option value="husker">Small</option>
          <option value="starbuck">Medium</option>
          <option value="hotdog">Large</option>
          <option value="apollo">Yeti</option>

          <option value="husker">Small</option>
          <option value="starbuck">Medium</option>
          <option value="hotdog">Large</option>
          <option value="apollo">Yeti</option>

        </select>
	   </form>
        </label>

        <button type="submit" class="button large expanded"  form="demo_input">Predict</button>
 
        <div class="small secondary expanded button-group">
            <a class="button" href="https://www.linkedin.com/in/ashwin2rai/" >LinkedIn</a>
            <a class="button" href="https://github.com/ashwin2rai" >GitHub</a>
            <a class="button" href="https://scholar.google.com/citations?user=eqS0zH8AAAAJ&hl=en&oi=ao" >Scholar</a>
          </div>
        </div>
    </div>


    <div class="row column">
      <hr>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/nopage">About</a></li>
        <li class="float-right">Copyright 2020</li>
      </ul>
    </div>



  </body>
</html>



