


<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to InvestiGame</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>


    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">InvestiGame</li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><a href="/nopage" class="button">Search</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->

    <br><br>

<div align='center'>
            <p>This functionality's sole purpose is to look cool and not actually do anything.</p>
</div>


    <div class="row column">
      <hr>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/nopage">About</a></li>
        <li class="float-right">Copyright 2020</li>
      </ul>
    </div>



  </body>
</html>




